<style>
.content {
  max-width: 800px;
  margin: auto
}
img {
  width: 30%;
}
</style>
<body> <div class="content">
    <h1>Results</h1>
    <ul>
      <% @movies.each do |movie| %>
        <li><%= movie["title"] %> (<%= movie["release_date"].split('-')[0]%>)</li>
        <img src=https://image.tmdb.org/t/p/w500<%= movie["poster_path"] %> alt="Poster">

        <form action=<%= "/tmdb_movies/id/" + movie["id"].to_s%>>
          <input type="submit" value="View details" />
        </form>
      <% end %>
    </ul>
</div></body>